body {
    background-color: #1c1e21; /* Dark blue background */
    color: #f8f9fa; /* Light text color */
}

header {
    background-color: #343a40;
}

header .navbar-brand,
header .nav-link {
    color: #f8f9fa !important;
}

h1 {
    color: #f8f9fa;
}

form {
    background-color: #2c2f33; /* Slightly lighter dark background for forms */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group label {
    color: #f8f9fa;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    color: #ffc107; /* Yellow text color */
}

.form-control {
    background-color: #3a3d41;
    color: #f8f9fa;
    border: 1px solid #565b61;
}

.form-control::placeholder {
    color: #adb5bd;
}

.form-control:focus {
    background-color: #3a3d41;
    border-color: #6c757d;
}

.btn-primary {
    background-color: #4a69bd;
    border-color: #4a69bd;
}

.btn-primary:hover {
    background-color: #3b5998;
    border-color: #3b5998;
}

#registerResult,
#loginResult {
    background-color: #2c2f33;
    border: 1px solid #565b61;
    border-radius: .25rem;
    padding: .75rem 1.25rem;
    margin-top: 1rem;
    color: #f8f9fa;
}
